{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard/main.css') }}"/>
{% endblock %}

{% block body %}
    <p>That's a dashboard body.</p>
{% endblock %}